NodeRed/flow.json
[{"id":"25188fb.e5dbb7","type":"http in","z":"82931fa9.ce741","name":"Send by Alexa","url":"/HelloWorld","method":"post","upload":true,"swaggerDoc":"","x":98,"y":74,"wires":[["4f248c49.a3a224"]]},{"id":"4f248c49.a3a224","type":"switch","z":"82931fa9.ce741","name":"Request types","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"}],"checkall":"true","outputs":3,"x":178,"y":186,"wires":[["4bd332a8.d7bcdc"],["b9fc17e0.c60068"],["cea3414e.6a68e"]]},{"id":"cea3414e.6a68e","type":"switch","z":"82931fa9.ce741","name":"Intent Types","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"MoveIntent","vt":"str"},{"t":"eq","v":"GroceryIntent","vt":"str"}],"checkall":"true","outputs":2,"x":400,"y":230,"wires":[["5690a97.dfebf58"],["624b8021.db2be","a1d98cc0.45c65"]]},{"id":"a1d98cc0.45c65","type":"template","z":"82931fa9.ce741","name":"Request for grocery","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Okay, I am sending a request to My Circle.","output":"str","x":636,"y":282,"wires":[["fad4dada.8fdce8"]]},{"id":"334365c4.d0feea","type":"json","z":"82931fa9.ce741","name":"","pretty":false,"x":916.5,"y":246.33334350585938,"wires":[["4d19d9cb.37b2b8","f04b0b4a.f237e8"]]},{"id":"fad4dada.8fdce8","type":"template","z":"82931fa9.ce741","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\" : {\n        \"outputSpeech\" : {\n            \"type\" : \"PlainText\",\n            \"text\" : \"{{payload}}\"\n            },\n        \"shouldEndSession\" : true\n    }\n}","output":"str","x":864,"y":185,"wires":[["334365c4.d0feea"]]},{"id":"4d19d9cb.37b2b8","type":"http response","z":"82931fa9.ce741","name":"Sent to Alexa","statusCode":"","headers":{},"x":1085.5,"y":245.66668701171875,"wires":[]},{"id":"f04b0b4a.f237e8","type":"debug","z":"82931fa9.ce741","name":"Debug","active":true,"console":"false","complete":"payload","x":1071.166748046875,"y":297,"wires":[]},{"id":"4bd332a8.d7bcdc","type":"template","z":"82931fa9.ce741","name":"Launch Request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Welcome! You can ask any help to My Circle.","output":"str","x":411,"y":144,"wires":[["fad4dada.8fdce8"]]},{"id":"5690a97.dfebf58","type":"template","z":"82931fa9.ce741","name":"Request to move/shift","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Okay, I am sending a request for moving","output":"str","x":632.5,"y":225,"wires":[["fad4dada.8fdce8"]]},{"id":"1de217fd.075b58","type":"debug","z":"82931fa9.ce741","name":"Debug","active":true,"console":"false","complete":"payload","x":1065,"y":450,"wires":[]},{"id":"624b8021.db2be","type":"function","z":"82931fa9.ce741","name":"Decode grocery item","func":"var newMsg = { payload: msg.payload.request.intent.slots.grocery.value };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":635,"y":335,"wires":[["17983f46.e68f11"]]},{"id":"17983f46.e68f11","type":"http request","z":"82931fa9.ce741","name":"Make a web request","method":"GET","ret":"txt","url":"https://maker.ifttt.com/trigger/{{payload}}/with/key/ZLKs2ozI1h2UUwNfrlZ4w","tls":"","x":860,"y":397,"wires":[["1de217fd.075b58"]]},{"id":"b9fc17e0.c60068","type":"template","z":"82931fa9.ce741","name":"End Request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Good Bye.","output":"str","x":402,"y":185,"wires":[["fad4dada.8fdce8"]]}]
